<!DOCTYPE html>
<html>
<head>
  <title>TrelloBeta3 - Control Panel</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
<div class="header">
TrelloBeta3
</div>

<% if notice.present? %>
  <p class="notice"><%= notice %></p>
<% end %>

<% if alert.present? %>
  <p class="alert"><%= alert %></p>
<% end %>

<div class="sidebar">

  <%= link_to root_path, class: "sidebar_button" do %>
    <div class="custom-box sidebar_tile">
      <i class="icon-home"></i>
      <br>
      Home
    </div>
  <% end %>
  <% if current_user.present? %>

    <%= link_to control_panel_boards_path, class: "sidebar_button" do %>
      <div class="custom-box sidebar_tile">
        <i class="icon-folder-open"></i>
        <br>
        Boards
      </div>
    <% end %>

    <%= link_to control_panel_user_invitations_path(current_user), class: "sidebar_button" do %>
      <div class="custom-box sidebar_tile">
        <i class="icon-users"></i>
        <br>
        Invitations
      </div>
    <% end %>

    <%= link_to destroy_user_session_path, class: "sidebar_button", method: :delete do %>
      <div class="custom-box sidebar_tile">
        <i class="icon-off"></i>
        <br>
        Logout
      </div>
    <% end %>
  <% else %>
  <% end %>

</div>

<%= yield %>

<div class="footer"></div>
</div>
</body>
</html>
